*{
  margin: 0;
  padding: 0;
}


body{
  background-color: #BDCCD7;
  color: #F3EFEF;
  background-image: url("img/logo-form.png");
  background-size: 100vh 100%;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  overflow: hidden;
}

nav{
  background-color: rgb(2,48,89);
  /*padding-bottom: 1em;*/
  display: flex;
  flex-direction : column;
  justify-content: center;
  height: 10%;

  border-bottom: 3px solid black;
}

form{
  display: flex;
  justify-content: space-around;
  font-family: Arial;
}

form p,div{
  /*margin-top: 2em;*/
}


form div:hover{
  cursor: pointer;
}


.filter{
  margin: auto;
  padding: auto;
  border:1px solid #fff;
  width: 13em;
  height: 3em;
}

#display{
  width: 100%;
  height: 80%;

}




.fleche{
  transition: opacity 0.2s,transform 0.5s;
  position: fixed;
  opacity: 0.5;
  top:10px;
  right: 20px; 
}

.fleche:hover{
    opacity: 1;
    cursor: pointer;
}

.flecheDown{
  transform: rotate(-180deg);
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle.selected {
 fill : red;
}
circle.target {
  fill : blue;
}
circle.source {
  fill : yellow;
}

circle.normal {
  fill: #ccc;
}

circle.detected{
  fill : orange;
}


#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}
.link.suit {
  stroke: black;
}
.link.linkselector {
  stroke: red;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}
.link.drink {
        stroke: orange;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


#buttonSourceTarget{
	border: none;
    color: black;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;

}
div .target{
	background-color: #008CBA;
}

div .source{
	background-color: yellow;
}



