*{
  margin: 0;
  padding: 0;
}


body{
  width: 100%;
  height: 100%;
}

.filter{
  margin: auto;
  padding: auto;
  border:1px solid #fff;
  width: 13em;
  height: 3em;
}

#display{
  width: 100%;
  height: 80%;

}

#nbrelations{
  margin-right: 50px;
}

#menu{
  margin: 10px;
}

td{
  padding-left: 100px;
}

#nav{
display: flex;
  height: 10%;
  width: 100%;
  background-color: red;


}

.fleche{
  transition: opacity 0.2s,transform 0.5s;
  position: fixed;
  opacity: 0.5;
  top:10px;
  right: 20px; 
}

.fleche:hover{
    opacity: 1;
    cursor: pointer;
}

.flecheDown{
  transform: rotate(-180deg);
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.selected {
 fill : red;
}
.target {
  fill : yellow;
}
.source {
  fill : blue;
}

.normal {
  fill: #ccc;
}


#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}
.link.drink {
        stroke: orange;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.degage{
  fill: orange;
}



/*{"valuesource" : "1" , "valuetarget":"2" , 
    "source" : "test1" , "target" : "test2" , "type" : "drunk"},

  {"valuesource" : "2" , "valuetarget":"3" , 
      "source" : "test2" , "target" : "test3" , "type" : "drunk"},

  {"valuesource" :"rand1" , "valuetarget":"3" ,
      "source" : "testrandom" , "target": "test3", "type": "drunk"},

  {"valuesource" : "3" , "valuetarget":"rand2" ,
      "source" : "test3" , "target": "testrandom2", "type": "drunk"},

  {"valuesource" : "3" , "valuetarget":"4" , 
      "source" : "test3" , "target" : "test4" , "type": "drunk"},

  {"valuesource" : "4" , "valuetarget":"5" , 
      "source" : "test4" , "target" : "test5" , "type": "drunk"},

  {"valuesource" : "5" , "valuetarget":"6" , 
      "source" : "test5" , "target" : "test6" , "type": "drunk"},*/ 